@font-face {
    font-family: 'Akira Expanded';
    src: url('Akira Expanded Demo.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    background: rgb(25, 25, 25);
}

body::-webkit-scrollbar{
     background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background: rgb(110, 110, 110);
    border-radius: 20px;
}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.pseudo-nav{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    font-family: 'Akira Expanded', sans-serif;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 80px;
    background-color: aliceblue;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff
    ;
}

.grid-container{
    display: grid;
    position: relative;
    padding-top: 50px;
    padding-left: 60px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 90%;
    height: 90%;
    grid-template-areas: "header header";
}

.game-grid-container-1,
.game-grid-container-3,
.game-grid-container-4,
.game-grid-container-5,
.game-grid-container-6,
.game-grid-container-7,
.game-grid-container-8,
.game-grid-container-9,
.game-grid-container-10,
.game-grid-container-11,
.game-grid-container-12,
.game-grid-container-13,
.game-grid-container-14,
.game-grid-container-15,
.game-grid-container-16,
.game-grid-container-17,
.game-grid-container-18,
.game-grid-container-19,
.game-grid-container-20{
    background-image: url('_.jpeg');
    transition: 1.5s;
    border-radius: 10px;
    height: 200px;
}

.hover-background{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 150%);
    width: 100%;
    height: 80%;
    position: relative;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
    transform: translateY(25%);
}

.hover-background p{
    position: absolute;
    bottom: 10%;
    font-size: 15px;
}

.game-grid-container-1:hover .hover-background,
.game-grid-container-2:hover .hover-background,
.game-grid-container-3:hover .hover-background,
.game-grid-container-4:hover .hover-background,
.game-grid-container-5:hover .hover-background,
.game-grid-container-6:hover .hover-background,
.game-grid-container-7:hover .hover-background,
.game-grid-container-8:hover .hover-background,
.game-grid-container-9:hover .hover-background,
 .game-grid-container-10:hover .hover-background,
 .game-grid-container-11:hover .hover-background,
 .game-grid-container-12:hover .hover-background,
 .game-grid-container-13:hover .hover-background,
 .game-grid-container-14:hover .hover-background,
 .game-grid-container-15:hover .hover-background,
 .game-grid-container-16:hover .hover-background,
 .game-grid-container-17:hover .hover-background,
 .game-grid-container-18:hover .hover-background,
 .game-grid-container-19:hover .hover-background,
 .game-grid-container-20:hover .hover-background{
    opacity: 1;
}

.game-grid-container-1:hover,
.game-grid-container-2:hover,
.game-grid-container-3:hover,
.game-grid-container-4:hover ,
.game-grid-container-5:hover,
.game-grid-container-6:hover,
.game-grid-container-7:hover,
.game-grid-container-8:hover,
.game-grid-container-9:hover,
 .game-grid-container-10:hover,
 .game-grid-container-11:hover,
 .game-grid-container-12:hover,
 .game-grid-container-13:hover,
 .game-grid-container-14:hover,
 .game-grid-container-15:hover,
 .game-grid-container-16:hover,
 .game-grid-container-17:hover,
 .game-grid-container-18:hover,
 .game-grid-container-19:hover,
 .game-grid-container-20:hover{
    background-color: aliceblue;
    box-shadow: 0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff
    ;
    filter: brightness(130%) hue-rotate(360deg) contrast(140%);
    background-position-x: right;
 }



.game-grid-container-1 .hover-background{
    height: 70%;
    transform: translateY(-5%);
}

.game-grid-container-1{
    grid-area: header;
}

.game-grid-container-1 h2{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Akira Expanded', sans-serif;
    color: aliceblue;
}

.game-grid-container-1 h3{
    position: absolute;
    padding-left: 10px;
    font-size: 30px;
    font-family: 'Akira Expanded', sans-serif;
    color: aliceblue;
}

.game-grid-container-2 h3{
    position: absolute;
    padding-left: 10px;
    font-size: 50px;
    font-family: 'Akira Expanded', sans-serif;
    color: aliceblue;
}

.game-grid-container-2 h2{
    position: absolute;
    font-weight: 100;
    padding-left: 15px;
    font-size: 50px;
    font-family: 'Akira Expanded', sans-serif;
    color: aliceblue;
}




.game-grid-container-3 h3,
.game-grid-container-4 h3,
.game-grid-container-5 h3,
.game-grid-container-6 h3,
.game-grid-container-7 h3,
.game-grid-container-8 h3,
.game-grid-container-9 h3,
.game-grid-container-10 h3,
.game-grid-container-11 h3,
.game-grid-container-12 h3,
.game-grid-container-13 h3,
.game-grid-container-14 h3,
.game-grid-container-15 h3,
.game-grid-container-16 h3,
.game-grid-container-17 h3,
.game-grid-container-18 h3,
.game-grid-container-19 h3,
.game-grid-container-20 h3{
    position: absolute;
    padding-left: 10px;
    font-size: 25px;
    font-family: 'Akira Expanded', sans-serif;
    color: aliceblue;
}

.game-grid-container-2{
    grid-row: span 3;
    border-radius: 10px;
    background-image: url('_.jpeg');
    transition: 1.5s;
}

.game-grid-container-20{
    grid-row: span 2;
    grid-column-end: span 2;
}

.hover-background button{
    font-family: 'Akira Expanded', sans-serif;
    z-index: 10;
    position: absolute;
    right: 20px;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 45px rgba(0, 0, 0),
    0 0 90px rgba(0, 0, 0)
    ;
    border: 1px solid rgba(255, 255, 255,0.25);
    border-right: 1px solid rgba(255, 255, 255,0.1);
    border-bottom: 1px solid rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    border-right: none;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
    border-bottom: none;
    cursor: pointer;
}


.hover-background button:hover{
    text-shadow: 0 0 10px #000,
    0 0 20px #000,
    0 0 40px #000
    ;
    letter-spacing: 5px;
    backdrop-filter: blur(5px);
}
